USE [LibAtmtnSys]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBook]    Script Date: 5/21/2025 5:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateBook]
@BookID INT, @Title VARCHAR(100), @Category VARCHAR(50), @Author VARCHAR(100),
@ISBN VARCHAR(20), @Publisher VARCHAR(50), @Year INT, @Edition VARCHAR(20)
AS
BEGIN
UPDATE Books SET Title=@Title, Category=@Category, Author=@Author,
ISBN=@ISBN, Publisher=@Publisher, Year=@Year, Edition=@Edition
WHERE BookID = @BookID
END
GO
